@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #1e83e9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}

header > h1{
    color: white;
    text-align: center;
    padding: 20px;
}

main > section{
    padding: 10px;
    background-color: white;
    width: 360px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.459);
}

input[type="number"]{
    width: 100px;
}

input[type="button"]{
    cursor: pointer;
}

main > section input{
    margin-top: 20px;
}

main > section div#info{
    margin-top: 20px;
}

div#img{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

img#isso{
    width: 250px;
    max-height: 250px;
    border-radius: 50%;
}

footer{
    margin-top: 20px;
    text-align: center;
}