@charset "UTF-8";


@media screen and (min-width:768px) and (max-width:1049px) {
    main > section{
        width: 550px;
    }

    input[type="number"]{
        width: 150px;
    }
    
    img#isso{
        width: 300px;
        max-height: 300px;
    }
}

@media screen and (min-width:1050px){
    main > section{
        width: 650px;

 
    }

    input[type="number"]{
        width: 200px;
    }
    
    img#isso{
        width: 350px;
        max-height: 350px;
    }
}